### Import Libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

The libraries is vital fro my dataset, because it will help us as a student to not restate the code upon implementing our data analysis.

In [4]:
#Load data
df = pd.read_csv('Crime_Data_from_2020_to_Present.csv')
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,201220752,09/16/2020 12:00:00 AM,09/16/2020 12:00:00 AM,1230,12,77th Street,1259,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,700 E 73RD ST,NaN,33.9739,-118.2630
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

This is the head of our dataset that visualize the first 5 rows and the 28 columns of our dataset.

In [5]:
# Columns in Dataset

In [6]:
df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

This is the columns of our dataset and this help us to see the names of columns of our dataset.

### Data Preprocessing

In [7]:
#checking for data info

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276584 entries, 0 to 276583
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           276584 non-null  int64
 1   Date Rptd       276584 non-null  object
 2   DATE OCC        276584 non-null  object
 3   TIME OCC        276584 non-null  int64
 4   AREA            276584 non-null  int64
 5   AREA NAME       276584 non-null  object
 6   Rpt Dist No     276584 non-null  int64
 7   Part 1-2        276584 non-null  int64
 8   Crm Cd          276584 non-null  int64
 9   Crm Cd Desc     276584 non-null  object
 10  Mocodes         238591 non-null  object
 11  Vict Age        276584 non-null  int64
 12  Vict Sex        240227 non-null  object
 13  Vict Descent    240222 non-null  object
 14  Premis Cd       276580 non-null  float64
 15  Premis Desc     276487 non-null  object
 16  Weapon Used Cd  101085 non-null  float64
 17  Weapon Desc     101085 non-null  object
 18  Status          276584 non-null  object
 19  Status Desc     276584 non-null  object
 20  Crm Cd 1        276582 non-null  float64
 21  Crm Cd 2        22741 non-null   float64
 22  Crm Cd 3        776 non-null     float64
 23  Crm Cd 4        25 non-null      float64
 24  LOCATION        276584 non-null  object
 25  Cross Street    49813 non-null   object
 26  LAT             276584 non-null  float64
 27  LON             276584 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 59.1+ MB

We use df.info in order for us to know the number of object, d types and the non null values inside of our dataset.

In [9]:
# Removing irrelevant/not meaningfull columns

In [10]:
# from discrption of columns data there are some columns don't needed so we drop them
col = ['Date Rptd','DR_NO','AREA NAME', 'Mocodes', 'Premis Desc', 'Weapon Desc', 'Status Desc','Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'Cross Street','Weapon Used Cd']
df = df.drop(col,axis=1)

In [11]:
# Handeling null values

In [12]:
df.isna().sum()/df.shape[0]

DATE OCC        0.000000
TIME OCC        0.000000
AREA            0.000000
Rpt Dist No     0.000000
Part 1-2        0.000000
Crm Cd          0.000000
Crm Cd Desc     0.000000
Vict Age        0.000000
Vict Sex        0.131450
Vict Descent    0.131468
Premis Cd       0.000014
Status          0.000000
LOCATION        0.000000
LAT             0.000000
LON             0.000000
dtype: float64

In [15]:
# filling victim sex empty rows with mode value
df["Vict Sex"].fillna(df["Vict Sex"].mode()[0],inplace=True)

# filling victim descent empty rows with "X" unknown symbol 
df["Vict Descent"].fillna(df["Vict Descent"].mode()[0],inplace=True)

In [16]:
# Converting the date column to datetime
df['DATE OCC'] = pd.to_datetime(df['DATE OCC'], format='%m/%d/%Y %I:%M:%S %p')

In [17]:
# Extracting year, month, day into separate columns - This would be useful for machine learning model
df['year'] = df['DATE OCC'].dt.year
df['month']# Converting time to string
df['TIME OCC'] = df['TIME OCC'].astype('str')

# converting the column with 4 digits
df['TIME OCC'] = df['TIME OCC'].apply(lambda x: x.zfill(4))

# extracting hour and minute
df['hour'] = df['TIME OCC'].str[:2]
df['minute'] = df['TIME OCC'].str[2:] = df['DATE OCC'].dt.month
df['day'] = df['DATE OCC'].dt.day
df['day_of_week'] = df['DATE OCC'].dt.day_name()# Converting time to string
df['TIME OCC'] = df['TIME OCC'].astype('str')

# converting the column with 4 digits
df['TIME OCC'] = df['TIME OCC'].apply(lambda x: x.zfill(4))

# extracting hour and minute
df['hour'] = df['TIME OCC'].str[:2]
df['minute'] = df['TIME OCC'].str[2:]

In [18]:
df.head()

,DATE OCC,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Cd,Status,LOCATION,LAT,LON,year,month,day,day_of_week
0,2020-01-08,2230,3,377,2,624,BATTERY - SIMPLE ASSAULT,36,F,B,501.0,AO,1100 W 39TH PL,34.0141,-118.2978,2020,1,8,Wednesday
1,2020-01-01,330,1,163,2,624,BATTERY - SIMPLE ASSAULT,25,M,H,102.0,IC,700 S HILL ST,34.0459,-118.2545,2020,1,1,Wednesday
2,2020-09-16,1230,12,1259,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),62,M,B,502.0,IC,700 E 73RD ST,33.9739,-118.2630,2020,9,16,Wednesday
3,2020-01-01,1730,15,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,F,W,502.0,IC,5400 CORTEEN PL,34.1685,-118.4019,2020,1,1,Wednesday
4,2020-01-01,415,19,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,X,X,409.0,IC,14400 TITUS ST,34.2198,-118.4468,2020,1,1,Wednesday